.form-create{
   padding: 0px 200px 0px 200px;
    
}
.input-form{
    padding:16px;
}
.input-label{
    font-weight: 500;
    font-size: 20px;
}
.input-button{
    
   margin-left:410px ;
}
.center{
    
    text-align:center;
}